<html>
<head>
<title>
FOCUS CHALLENGE
</title>
<script src="jquery.js"></script>
<script src="underscore.js"></script>
<style>
.button { 
  font-family : sans-serif ; 
  width : 50% ;
  font-size : 5em;
  border-radius : 0.4em ;
  border : 0px }
.button.active { 
  color : white;
  background-color : lightgrey ;
}
.button.ready {
  color : white;
  background-color : #FF6E4E
  }

.leaderboard {
  font-family : sans-serif ;
  }
.leaderboard td {
  font-size : 3em
  }
.leaderboard th {
  font-size : 4em 
  }
</style>
</head>
<body >
  <div align="center" style="width:100%">
  <div style="width : 53% ; padding-top:8%">   
  <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
  <style>
     .clock { font-family : sans-serif ;
              font-size: 22.15px}
  </style>
  <circle cx="50" cy="50" r="49" fill="lightgrey" fill-opacity="1"/>
  <circle cx="50" cy="50" r="42" fill="white" fill-opacity="1"/>
  <text class="clock" x="50%" y="50%" text-anchor="middle" dominant-baseline="middle" fill="#FF6E4E"></text>
  <path id="TickerPath" d="" fill="#FF6E4E"/> 
  <path id="BreakTime" fill-opacity="0.2"/> 
</svg>
  </div>
<div align="center" style="width:100%; padding-top:10%; padding-bottom:10%" >
<button class="button" align="center" ></button>
</div>
</div>
<div style="padding-left:10%">
<table class="leaderboard" >
</table>
</div>
<div id="loginstub"  style="background:skyblue;position:fixed;top:100px;width:375px">
login stub : this bit hasn't been specified<br>
<input type="checkbox" name="id" onclick="login('chris')" autocomplete="off" > chris<br> 
<input type="checkbox" name="id" onclick="login('jed')" autocomplete="off" > jed<br>
</div>
  <audio id="airwolf" src="airwolf.mp3"></audio>
  <audio id="vader" src="vader.mp3"></audio>
  <script language="javascript">
  var graphics_parameters = { 
     outer_radius : 49,
     inner_radius : 42 
     }

  var myId = ""

  function login( name ) { 
    myId = name
    $("#loginstub").hide()
    }
 
  function ticker_path(degrees, id, graphics_parameters) {
    var xo = graphics_parameters.outer_radius * Math.sin( degrees * Math.PI / 180 ) + 50; 
    var yo = 50 - graphics_parameters.outer_radius*Math.cos( degrees * Math.PI / 180 );
    var xi = graphics_parameters.inner_radius * Math.sin( degrees * Math.PI / 180 ) + 50; 
    var yi = 50 - graphics_parameters.inner_radius *Math.cos( degrees * Math.PI / 180 );
    var large_arc = (degrees > 180 ) ? "1" : "0"; 

    var start_here = "M 50 " + ( 50 - graphics_parameters.inner_radius )
    var vertical_line = " V " +(  50 - graphics_parameters.outer_radius )  
    var outer_arc = " A " + graphics_parameters.outer_radius + " " + graphics_parameters.outer_radius + " 0 " + 
                      large_arc + " 1 " + xo + " " + yo;
    var diagonal_line = " L " + xi + " " + yi
    var inner_arc = " A " + graphics_parameters.inner_radius + " " + graphics_parameters.inner_radius + " 0 " + 
                      large_arc + " 0 50 " + ( 50 - graphics_parameters.inner_radius )

    var path =  start_here + vertical_line + outer_arc + diagonal_line + inner_arc;
    $("svg #"+id).attr("d", path);
    }
  var tick = 60*30;
  var break_started = false;
  var timerRef;

  function start() {
    console.log("start")
    button_cancel()
    ticker_path(359.99, "TickerPath", graphics_parameters)
    update_clock(60*30)
    tick = 60*30-1
    timerRef = window.setInterval( timer_event, 1000 )
    post_event("start")
    }

  function cancel() {
    console.log("cancel")
    ticker_path(359.99, "TickerPath", graphics_parameters)
    update_clock(60*30)
    button_ready()
    tick = 60*30
    window.clearInterval(timerRef)
    post_event("cancel") 
    }

  function timer_event() {
    /*30 minutes is 360  degrees  
       1 minute is  12 degrees 
       1 second is 0.2 degrees 
       1 degree every 5 seconds */
    ticker_path(tick*0.2, "TickerPath", graphics_parameters);
    update_clock(tick)
    tick--;
    if(tick < 60*5 && !break_started ) { play_airwolf(); post_event("complete"); break_started = true }
    if(tick < 0) { tick = 359.99*5; play_vader(); break_started=false; 
    window.clearInterval(timerRef);
    button_ready() };
    update_clock(tick);
    }
 
  function button_ready() {
    $(".button").removeClass("active").addClass("ready").text("GO!").off("click").on("click", start) 
    }

  function button_cancel() {
    $(".button").removeClass("ready").addClass("active").text("CANCEL").off("click").on("click", cancel)
    } 

  var leaderboard

  function sanitize_record( record ) {
    //a single record, change score to an int and the dates to dates
    record.score = Number( record.score )
    record.lastUpdate = Date.parse( record.lastUpdate)
    record.period = Date.parse( record.period)
    record.expectedUpdate = Date.parse( record.expectedUpdate )
    }

  function update_leaderboard() {
    var line = _.template("<tr><td><%= id %><td><%= score  %></td></tr>")
    $.ajax({url : "http://new.reighley-christopher.net/riak/buckets/focus/keys/focus", cache : false } ).
      done(function(d){ 
        $(".leaderboard").empty().
        append("<tr><th colspan=2>LEADER BOARD</th></th></tr>")
        _.forEach( d,  function(d) { 
          sanitize_record(d)
          $(".leaderboard").append( line(d) ) 
          } )
        leaderboard = d
      } ).
      fail( function(e) { console.log("ERROR"); console.log(e) } ) 
    }
    update_leaderboard()
    window.setInterval( update_leaderboard, 10000 )
  function post_event(event) {
    var event = { id : myId, timestamp : new Date(), event : event }
    $.ajax("http://localhost:8888", { type : "POST", data : JSON.stringify( event ) }  ).fail( function(e) { console.log("ERROR"); console.log(e) } )
    }

  function update_clock(seconds) {
    var minutes = Math.floor(seconds/60 )
    var remainder = seconds - minutes*60
    var minutes_zero = (minutes < 10) ? "0" : ""
    var seconds_zero = (remainder < 10) ? "0" : ""
    $(".clock").text(minutes_zero + minutes + ":" + seconds_zero + remainder) 

    }
  function play_airwolf() {
    //$("#airwolf")[0].play()
    }
  function play_vader(){
    //$("#vader")[0].play()
    }
    ticker_path(60, "BreakTime", graphics_parameters)
    ticker_path(359.99, "TickerPath", graphics_parameters)
    update_clock(60*30)
    button_ready() 
  </script>
</body>
</html>
